
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle
*.nupkg
*.snupkg


.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

packages/
*.nuspec
project.lock.json
project.assets.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
.nuget/

*.log
*.tlog
*.cache
*.csproj.FileListAbsolute.txt
*.sqlite
*.db

.idea/
*.DotSettings.user

launchSettings.json

*.pfx
*.snk

.vs/
*.vspscc
*.vssscc
.env

TestResults/
coverage/
*.coverage
*.testsettings
*.vsix
.vscode/

docker-compose.override.yml
**/secrets/
